VITE_API_BASE_URL=http://localhost:8080
VITE_PAYSTACK_PUBLIC_KEY="pk_test_7d4ed8b93440bfdfff9228f0ac9804b8c110fcf6"
VITE_GOOGLE_CLIENT_ID="2877072660-1pvmruloka7gj7hm8rh1spl0skqe0794.apps.googleusercontent.com"
